@model List<WebApplications_Übung1.Models.Item>
@using WebApplications_Übung1.Models
@{
    ViewBag.Title = "Index";
}

<h2>Shop</h2>

@if((Model != null) && (Model.Count > 0)){
<table align="center">
    @foreach (Item i in Model)
    {
        <tr>
            <td><img class="image" src="@i.Bildpfad" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
            <td>
                <ul>
                    <li><font size="6">@i.Item_name</font></li>
                    <li><font size="4">Preis: @i.Preis€</font></li>
                    <li><font size="4">Model: @i.Model</font></li>
                    <li><font size="4">Kategorie: @i.Kategorie</font></li>
                    <li><font size="4">Marke: @i.Marke</font></li>
                </ul>
            </td>
        </tr>
    }
</table>
}

@*<table align="center">
        <tr>
            <td><img class="image" src="~/Content/Images/Smartphone.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
            <td>
                <ul>
                    <li><font size="6">Iphone 11 Pro White</font></li>
                    <li><font size="4">1.014,90€</font></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><img class="image" src="~/Content/Images/Hoodie.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
            <td>
                <ul>
                    <li><font size="6">Hoodie</font></li>
                    <li><font size="4">50€</font></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td><img class="image" src="~/Content/Images/Kleidung.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
            <td>
                <ul>
                    <li><font size="6">Hoodie</font></li>
                    <li><font size="4">50€</font></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><img class="image" src="~/Content/Images/switch.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
            <td>
                <ul>
                    <li><font size="6">Switch</font></li>
                    <li><font size="4">299,99€</font></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><img class="image" src="~/Content/Images/Werkzeug.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
            <td>
                <ul>
                    <li><font size="6">Bohrmaschine</font></li>
                    <li><font size="4">29,85€</font></li>
                </ul>
            </td>
        </tr>
    </table>

    @Html.ActionLink("Alle Artikel", "AllArticels", "Shop")*@

